
/* Grid */
.grid {
	display: grid;
}

.grid-template-areas-1 {
	grid-template-areas:
		"logo       nav         nav"
		"sidenav    content     advert"
		"sidenav    footer      footer"
	;
}

.grid-template-areas-2 {
	grid-template-areas:
		"sidenav    logo      nav"
		"sidenav    content   advert"
		"sidenav    content   footer"
	;
}

.grid-template-areas-3 {
	grid-template-areas:
		"logo       logo"
		"nav        nav"
		"content    content"
		"sidenav    advert"
		"footer     footer"
	;
}


.grid-template-areas-4 {
	grid-template-columns: 30% 60% 10%;
	grid-template-rows: 50px 150px 50px;
	grid-template-areas:
		"logo       nav         nav"
		"sidenav    content     advert"
		"sidenav    footer      footer"
	;
}

.grid-template-areas-5 {
	grid-template-areas:
		"logo         content     nav"
		".            content     advert"
		"sidenav      footer      ."
	;
}

.logo     { grid-area: logo;    }
.nav      { grid-area: nav;     }
.content  { grid-area: content; }
.sidenav  { grid-area: sidenav; }
.advert   { grid-area: advert;  }
.footer   { grid-area: footer;  }

/* Basico */

body {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  background-color: rgba(196, 232, 233, 0.521);
}

h2 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  font-weight: normal;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

/* Item */
.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.item:hover {
  background: rgba(255, 99, 71, 0.5);
  font-weight: 700;
}
