/* Grid */
.grid {
	display: grid;
}

.grid-template-columns-1 {
	grid-template-columns: 100px 100px 100px 100px;
}

.grid-template-columns-2 {
	grid-template-columns: 1fr 2fr;
}

.grid-template-columns-3 {
	grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
}

.grid-template-columns-4 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns-5 {
	grid-template-columns: repeat(auto-fit, 100px);
}

.grid-template-columns-6 {
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

.grid-template-columns-7 {
	grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}


/* Basico */

body {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  background-color: rgba(196, 232, 233, 0.521);
}

h2 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  font-weight: normal;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

/* Item */
.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.item:hover {
  background: rgba(255, 99, 71, 0.5);
  font-weight: 700;
}